<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/login.css') }}">
	<title>Login</title>
</head>
<body>
	<section class="form-login">
		<h5>Login</h5>
		<input class="controls" type="text" name="user" placeholder="Usuario">
		<input class="controls" type="password" name="contrasenia" placeholder="Contraseña">
		<a class="button" role="button" href="{{ url_for('info')}}">Log In</a>
	</section>
</body>
</html>